/*#mmikkel-cpclearcache hr {
    margin: 10px 0;
}

body.ltr #mmikkel-cpclearcache .utility-status {
    margin-left: 10px;
    float: left;
    display: block;
    width: 60px;
    height: 40px;
    position: relative;
    border: 1px solid pink;
}

#mmikkel-cpclearcache .utility-status {
    width: 100%;
    top: 14px;
}

body.ltr #mmikkel-cpclearcache .utility-status .progressbar {
    left: 0;
}*/
